
  .image{
    width: 100%;
    height: auto;
  }

  .content {
    padding: 16px;
  }

  .badgeContainer{
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
  }

  .badge{
    background-color: #d9730d;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
  }

  title{
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 12px 0;
  }

  .footer {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #cec9c9;
  }

  .avatar{
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }

  /* .comments {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    display: inline-block;
  }
  
  .comments:hover {
    text-decoration: underline;
  } */