#root {
  max-width: 1024px;
  margin: 0 auto;
  padding: 6rem 2rem;
  text-align: center
} 

.nav-bar{
  list-style: none;
  display: inline-flex;
  text-align: center;
  padding: 20px 5% ;
  background-color: hsla(53, 100%, 65%, 0.293) ;
}

.nav-bar:hover{
  color: hsl(188, 47%, 40%);
}
.trending-topics{
  list-style: none;
  display: inline-flex;
}

/* This code is a minimal "CSS reset" → great for clean and predictable layouts. 🚀 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  text-decoration: none;
}

body {
  margin: 0;
}