#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} 

.nav-bar{
  list-style: none;
  display: inline-flex;
  text-align: center;
  padding: 20px 5% ;
  background-color: hsla(53, 100%, 65%, 0.293) ;
}

.nav-bar:hover{
  color: hsl(188, 47%, 40%);
}
.trending-topics{
  list-style: none;
  display: inline-flex;
}
/* .write-comment-form{
  display: block;
}

input[type=text]{
  padding: 12px 30px;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

input[type=text]:hover{
  border: 2px solid rgb(255, 197, 91);
}

#submit-button{
  background-color: rgb(255, 197, 91) ;
}

#submit-button:hover{
  border: 2px solid rgb(255, 198, 91);
  color: white;
}

.postcomment-error-msg{
  color: red;
  font-weight: bold;
} */
